<form action="" method="POST">

    <label for="username">Email</label>
    <input name="username" placeholder="email" type="email" required/>
    <label for="password">Password</label>
    <input name="password" type="password" required/>
    
    <% if (errors != undefined) { %>
      <% errors.errors.forEach((err)=>{ %>
          <p><%= err.msg %></p>
        <% }) %>
    <% } else { %>
      <p></p>
    <% } %>
    <button>Sign In</button>
</form>