<form action="" method="POST">

    <label for="member_password">Member Password</label>
    <input name="member_password" type="password" required/>
    <% if (errors != undefined) { %>
        <% errors.errors.forEach((err)=>{ %>
            <p><%= err.msg %></p>
          <% }) %>
      <% } else { %>
        <p></p>
      <% } %>
    <button>Submit</button>
</form>