<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>
        <header><%- include('./partials/header'); %></header>

        <main>
            <div class="sign-in-form-container">
                <%- include('./partials/sign-in') %>
            </div>
        </main>

        <footer><%- include('./partials/footer'); %></footer>
    </body>
</html>
