:root {
    --CBlue: rgb(53, 78, 107);
    --Cred: rgb(177, 59, 46);
    --Cwhite: rgb(246, 220, 206);
}
body {
    margin: 0;
    padding: 0;
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    background: var(--Cwhite);
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
}
h1 {
    margin: 0;
}

/* header */
header {
    margin: 0;
    padding: 0;
    background: var(--CBlue);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
header ul {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
header a {
    color: white;
    text-decoration: none;
}

/* sign-up-form-container */
.sign-up-form-container > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* index */

.index-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}
/* create new message link */
.index-container > a {
    padding: 1em;
    color: var(--CBlue);
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.messages-container {
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
}
.messages-container > div {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    border-radius: 0.25em;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    padding: 0.5em;
}
.img-container {
    width: 20%;
    border-radius: 50%;
}
.img-container img {
    width: 100%;
    max-width: 120px;
    max-height: 120px;
    height: auto;
}
.message-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}
.message-container a {
    align-self: flex-end;
    text-decoration: none;
    background: var(--Cred);
    color: white;
    padding: 0 2px 0 2px;
}
.author {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}

/* message-form-container */
.message-form-container {
    margin-left: 10%;
    width: 80%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.message-form-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}
.message-form-container > form input {
    width: 10em;
}
.message-form-container > form textarea {
    width: 40em;
}
.message-form-container button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background: var(--CBlue);
    color: white;
    cursor: pointer;
}

/* upgrade form */
.upgrade-container {
    margin-left: 10%;
    width: 80%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.upgrade-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}
.upgrade-container button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background: var(--CBlue);
    color: white;
    cursor: pointer;
}

/* sign in */
.sign-in-form-container {
    margin-left: 34%;
    width: 30%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.sign-in-form-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}
.sign-in-form-container button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background: var(--CBlue);
    color: white;
    cursor: pointer;
}

/* sign up */
.sign-up-form-container {
    margin-left: 34%;
    width: 30%;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    border: none;
    padding: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
}
.sign-up-form-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1em;
    line-height: 1.5em;
    font-size: 1.2em;
}
.sign-up-form-container button {
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background: var(--CBlue);
    color: white;
    cursor: pointer;
}
.sign-up-form-container img {
    width: 50px;
    height: 50px;
}
.sign-avatar {
    display: flex;
    flex-direction: row;
}
